set_io LED[3]     71
set_io LED[2]     67
set_io LED[1]     68
set_io LED[0]     70

set_io clk        129 # 100MHz osc

# VGA Output - Matches Digilent PmodVGA plugged into PMOD7/8/9/10
set_io red[3]     15  # PMOD35 = PMOD 9/10 pin  5
set_io red[2]     16  # PMOD34 = PMOD 9/10 pin  7
set_io red[1]     19  # PMOD33 = PMOD 9/10 pin  9
set_io red[0]     20  # PMOD32 = PMOD 9/10 pin 11

set_io green[3]    1  # PMOD27 = PMOD  7/8 pin  5
set_io green[2]    2  # PMOD26 = PMOD  7/8 pin  7
set_io green[1]    9  # PMOD25 = PMOD  7/8 pin  9
set_io green[0]   10  # PMOD24 = PMOD  7/8 pin 11

set_io blue[3]    11  # PMOD39 = PMOD 9/10 pin  6
set_io blue[2]    12  # PMOD38 = PMOD 9/10 pin  8
set_io blue[1]    17  # PMOD37 = PMOD 9/10 pin 10
set_io blue[0]    18  # PMOD36 = PMOD 9/10 pin 12

set_io hsync       8  # PMOD28 = PMOD  7/8 pin 12
set_io vsync       7  # PMOD29 = PMOD 7/8 pin 10
